
<!-- ###showAll### begin

  Default Template for showAll forms. 

-->
<div class="sav-library">
  <div class="showAll">
 
    <div class="title">
      <!-- ###CUT_titleIconLeft###  begin  -->
      <div class="titleIconLeft">###titleIconLeft###</div>
      <!-- ###CUT_titleIconLeft###  end  -->
      <div class="titleLabel">###formTitle###</div>
      <div class="right"></div>
      <!-- ###CUT_titleIconRight###  begin  -->
      <div class="titleIconRight">###titleIconRight###</div>
      <!-- ###CUT_titleIconRight###  end  -->
    </div>
 
    <div class="items">
    <!-- ###items### begin -->
      <!-- ###item### begin -->
 
      <div class="item">
        <!-- ###CUT_itemIconLeft###  begin  -->
        <div class="itemIconLeft">###itemIconLeft###</div>
        <!-- ###CUT_itemIconLeft###  end  -->
        <div class="value">###Value###</div>
        <div class="right"></div>
      </div>
 
      <!-- ###item### end -->
    <!-- ###items### end -->
    </div>
 
    <!-- ###CUT_arrows###  begin  -->
    <div class="arrows">
      ###arrows###
      <div class="right"></div>
    </div>
    <!-- ###CUT_arrows###  end  -->
 
  </div>
</div>
<!-- ###showAll### end -->



<!-- ###showAllAlt### begin

  Alt Default Template for showAll forms. Arrows are replaced by a selector. 

-->
<div class="sav-library">
  <div class="showAll">
 
    <div class="title">
      <!-- ###CUT_titleIconLeft###  begin  -->
      <div class="titleIconLeft">###titleIconLeft###</div>
      <!-- ###CUT_titleIconLeft###  end  -->
      <div class="titleLabel">###formTitle###</div>
      <div class="right"></div>
      <!-- ###CUT_titleIconRight###  begin  -->
      <div class="titleIconRight">###titleIconRight###</div>
      <!-- ###CUT_titleIconRight###  end  -->
    </div>
 
    <div class="items">
    <!-- ###items### begin -->
      <!-- ###item### begin -->
 
      <div class="item">
        <!-- ###CUT_itemIconLeft###  begin  -->
        <div class="itemIconLeft">###itemIconLeft###</div>
        <!-- ###CUT_itemIconLeft###  end  -->
        <div class="value">###Value###</div>
        <div class="right"></div>
      </div>
 
      <!-- ###item### end -->
    <!-- ###items### end -->
    </div>
 
    <div class="arrows">
      ###browse###
      <div class="right"></div>
    </div>
 
  </div>
</div>
<!-- ###showAllAlt### end -->


<!-- ###showAllHidden### begin

  Default Template for showAllHidden forms. 

-->
<!-- ###showAllHidden### end -->




<!-- ###showSingle### begin 

  Default Template for showSingle Forms
  
-->
<div class="sav-library">
  <div class="showSingle">
 
    <div class="title">
      <div class="titleLabel">###formTitle###</div>
      <div class="right"></div>
      <div class="titleIconRight">###titleIconRight###</div>
    </div>
 
    <!--###CUT_folderTabsTop### begin -->
    <div class="folderTabs">
      <ul class="folderTabs">
        <!-- ###folderTabs### begin -->
          <!-- ###folderTab### begin -->
          <li ###id###>###folderTabLink###</li>
          <!-- ###folderTab### end -->
        <!-- ###folderTabs### end -->
      </ul>
      <div class="right"></div>
    </div>
    <!--###CUT_folderTabsTop### end -->
 
    <div class="items">
    <!-- ###items### begin -->
      <!-- ###item### begin -->
 
      <!-- ###CUT_fusionBegin###  begin  -->
      <div class="item">
      <!-- ###CUT_fusionBegin###  end  -->
 
        <!-- ###CUT_label###  begin  --><div ###classLabel### ###styleLabel###>###Label###</div><!-- ###CUT_label###  end  -->
        <!-- ###CUT_value###  begin  --><div ###classValue### ###styleValue###><div class="inner###subform###">###Value###</div></div><!-- ###CUT_value###  end  -->
 
      <!-- ###CUT_fusionEnd###  begin  -->
        <div class="right"></div>
      </div>
      <!-- ###CUT_fusionEnd###  end  -->
 
      <!-- ###item### end -->
    <!-- ###items### end -->
    </div>
 
  </div>
</div>
<!-- ###showSingle### end -->



<!-- ###inputForm### begin 

  Default Template for inputForm Forms
  
-->
<div class="sav-library">
  <div class="inputForm">
 
    <div class="title">
      <div class="titleIconLeft">###titleIconLeft###</div>
      <div class="right"></div>
      <div class="titleLabel">###formTitle###</div>
    </div>
 
    <!--###CUT_folderTabsTop### begin -->
    <div class="folderTabs">
      <ul class="folderTabs">
        <!-- ###folderTabs### begin -->
          <!-- ###folderTab### begin -->
          <li ###id###>###folderTabLink###</li>
          <!-- ###folderTab### end -->
        <!-- ###folderTabs### end -->
      </ul>
      <div class="right"></div>
    </div>
    <!--###CUT_folderTabsTop### end -->
 
    <div class="items">
    <!-- ###items### begin -->
      <!-- ###item### begin -->
 
      <!-- ###CUT_fusionBegin###  begin  -->
      <div class="item">
      <!-- ###CUT_fusionBegin###  end  -->
 
      <!-- ###CUT_error###  begin  -->
      <div class="error">
        ###error###
        <div class="right"></div>
      </div>
      <!-- ###CUT_error###  end  -->
 
        <!-- ###CUT_label###  begin  --><div ###classLabel### ###styleLabel###>###Label###</div><!-- ###CUT_label###  end  -->
        <!-- ###CUT_value###  begin  --><div ###classValue### ###styleValue###><div class="inner###subform###">###Value###</div></div><!-- ###CUT_value###  end  -->
 
      <!-- ###CUT_fusionEnd###  begin  -->
        <div class="right"></div>
      </div>
      <!-- ###CUT_fusionEnd###  end  -->
 
      <!-- ###item### end -->
    <!-- ###items### end -->
    </div>
 
  </div>
</div>
<!-- ###inputForm### end -->



<!-- ###updateForm### begin

  Default Template for updateForm forms. 

-->
<div class="sav-library">
  <div class="updateForm">
 
    <div class="title">
      <div class="titleLabel">###formTitle###</div>
      <div class="right"></div>
      <!-- ###CUT_titleIconRight###  begin  -->
      <div class="titleIconRight">###titleIconRight###</div>
      <!-- ###CUT_titleIconRight###  end  -->
    </div>
 
    <div class="items">
    <!-- ###items### begin -->
      <!-- ###item### begin -->
       
      <div class="item">
        <div class="value">###Value###</div>
        <div class="right"></div>
      </div>
 
      <!-- ###item### end -->
  	<!-- ###items### end -->
    </div>
 
    <div class="title">
      <div class="titleLabel">###formTitle###</div>
      <!-- ###CUT_titleIconRight###  begin  -->
      <div class="titleIconRight">###titleIconRight###</div>
      <!-- ###CUT_titleIconRight###  end  -->
      <div class="right"></div>
    </div>
 
  </div>
</div>
<!-- ###updateForm### end -->



<!-- ###printForm### begin

  Default Template for printForm forms. 

-->
<div class="sav-library">
  <div class="printForm">
 
    <div class="title">
      <div class="right"></div>
      <div class="titleLabel">###formTitle###</div>
    </div>
 
    <div class="items">
    <!-- ###items### begin -->
      <!-- ###item### begin -->
 
      <div class="item">
        <div class="value">###Value###</div>
        <div class="right"></div>
      </div>
 
      <!-- ###CUT_break###  begin  -->
      <div class="break"></div>
      <!-- ###CUT_break###  end  -->
 
      <!-- ###item### end -->
    <!-- ###items### end -->
    </div>
 
  </div>
</div>
<!-- ###printForm### end -->



<!-- ###subForm### begin

  Default subForm Template
  
-->
<div class="subForm">
  <!-- ###CUT_title###  begin  -->
  <div class="title">
	  <div class="titleIconLeft">###titleIconLeft###</div>
	  <div class="titleLabel">###formTitle###</div>
    <div class="right"></div>
	</div>
  <!-- ###CUT_title###  end  -->
 
  ###Value###
  <div class="right"></div>
 
<!-- ###CUT_arrows###  begin  -->
    <div class="arrows">
      ###arrows###
      <div class="right"></div>
    </div>
<!-- ###CUT_arrows###  end  -->
</div>
<!-- ###subForm### end -->


<!-- ###subFormAlt### begin

  Alternative subForm Template

-->
<div class="subFormAlt">
  <!-- ###CUT_title###  begin  -->
  <div class="title">
	  <div class="titleIconLeft">###titleIconLeft###</div>
	  <div class="titleLabel">###formTitle###</div>
    <div class="right"></div>
	</div>
  <!-- ###CUT_title###  end  -->

  ###Value###
  <div class="right"></div>

    <div class="arrows">
      ###browse###
      <div class="right"></div>
    </div>
</div>
<!-- ###subFormAlt### end -->


<!-- ###subFormItem### begin

  Default subFormItem Template
  
-->
<div class="items">
<!-- ###items### begin -->
  <!-- ###item### begin -->
 
  <!-- ###CUT_error###  begin  -->
  <div class="error">
    ###error###
  </div>
  <!-- ###CUT_error###  end  -->
 
  <!-- ###CUT_fusionBegin###  begin  -->
  <div class="item">
  <div class="###CLASS_iconLeft###">###icon###</div>
  <!-- ###CUT_fusionBegin###  end  -->
 
    <!-- ###CUT_label###  begin  --><div ###classLabel### ###styleLabel###>###Label###</div><!-- ###CUT_label###  end  -->
    <!-- ###CUT_value###  begin  --><div ###classValue### ###styleValue###><div class="inner">###Value###</div></div><!-- ###CUT_value###  end  -->
 
  <!-- ###CUT_fusionEnd###  begin  -->
    <div class="right"></div>
  </div>
  <!-- ###CUT_fusionEnd###  end  -->
 
  <!-- ###item### end -->
<!-- ###items### end -->
 
</div>
<!-- ###subFormItem### end -->





<!-- ###schedule### begin 

  Default form for schedule type

-->
<div class="subitems">
	<!-- ###sub_items### begin -->
	  <!-- ###sub_item### begin -->
    <div class="subitem">
      <div class="label">###day###</div>
      <div class="value"><div class="inner">###beginAm### ###separator### ###endAm###</div></div>
      <div class="value"><div class="inner">###beginPm### ###separator### ###endPm###</div></div>
      <div class="right"></div>
    </div>
	  <!-- ###sub_item### end -->
	<!-- ###sub_items### end -->
</div>
<!-- ###schedule### end -->






